.home{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      padding-inline: 30px;
      background-image: url("../../assets/background.webp");
      background-repeat: no-repeat;
      background-size: cover;
      
}
.home-title{
      font-size: 2.5rem;
      margin-bottom: 10px;
      word-spacing: 1%;
}
.home-description{
      font-size: 1.5rem;
      margin-bottom: 20px;
}