.footer{
      height: 70px;
      background-color: rgb(5, 121, 121);
      color: white !important;
      font-size: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
}
